@import "../../sass/variables.scss";

.todosWrapper {
    width: 100%;

    .newTodoButton {
		cursor: pointer;
		transition: $--transition;
        width: 28px;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;
		border: 1px solid white;
		padding: 4px;
		border-radius: 4px;

		&:hover {
			border: 1px solid transparent;
			transform: scale(1.1);
		}

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.todoFormWrapper {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 5px;
    background: $--black-04;
    color: white;
    border: 1px solid white;
    backdrop-filter: blur(5px);
    box-shadow: rgba(207, 207, 207, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

    h3 {
        margin-bottom: 10px;
    }

    .formContainer {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;

        input[type=text] {
			width: 90%;
            margin: 5px 0;
            padding: 5px 0;
			padding-right: 85px;
            border: none;
            border-bottom: 2px solid white;
            background: none;
            color: white;
            font-size: 17px;
            padding-top: 12px;
            &::placeholder {
                color: white;
                position: absolute;
                transition: $--transition;
            }
            &:focus::placeholder {
                transform: translateY(-90%);
                font-size: 12px;
            }
        }
        button {
            width: 10%;
            padding: 4px 0;
            margin-top: 10px;
            border: none;
            border-bottom: 2px solid white;
            background: none;
            color: white;
            font-size: 17px;
            cursor: pointer;
        }
        .options {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            width: 70px;
            top: 50%;
            right: 11%;
            transform: translateY(-50%);

            .optionButton {
                width: 28px;
                height: 28px;
                padding: 5px;
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid transparent;
                transition: $--transition;
                cursor: pointer;
                position: relative;

                &:hover {
                    border: 1px solid white;
                }

                img {
                    width: 100%;
                    height: 100%;
                }

                input[type="color"] {
                    position: absolute;
                    bottom: -10px;
                    left: 0%;
                    opacity: 0;
                    background: none;
                    width: 0px;
                    height: 0px;
                    border: none;
                    outline: none;
                }

            }
        }
    }
}
.priorityPopupWrapper {
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
	color: white;
	background: $--white-04;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
		rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

	p {
		padding: 6px 10px;
		border-radius: 3px;
		cursor: pointer;
		transition: $--transition;
		box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
			rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
		backdrop-filter: blur(5px);

		&:hover {
			box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
		rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
		}
	}
}
